
<h1>Ye Olde Index Page</h1>

<div id="newsfeed">
  <h3>Recent Headlines</h3></div>
      <% @headlines["articles"].each do |headline| %>
      <div class="theheadlines"><p class="listings"><a href="<%= headline["url"] %>"><%= headline["title"] %></a></p></div>
  </h2>

<% end %>



