@import "bootstrap-sprockets";
@import "bootstrap";

#newsfeed {
  background-color: #CCCCCC;
  text-decoration: none;
}


.theheadlines {
  text-decoration: none;
  width: 350px;
  height: 50px;
  border: solid whitesmoke 1px;
  //border-radius: 4px;
  //padding: 5px;
  //box-shadow: 5px 10px #888888;

}


.listings {
  text-decoration: none;
  background: #e6f2ff;
  border-radius: 5px;
  color: whitesmoke;
  padding: 3px 8px;
}

.listings :hover {
  color: darkslategrey;



}
//header {
//  position: relative;
//  width: 100%;
//  height: calc(100vh - 151px); //footer = 100, topmenu = 50
//  max-width: 100%;
//  min-height: auto;
//  text-align: center;
//  color: #fff;
//  background-image: url(image-path('header.jpg'));
//  background-position: center;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  background-size: cover;
//  -o-background-size: cover;
//  overflow-wrap: break-word;
//  word-wrap: break-word;
//
//}