<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wahoo! News</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../">Home</a></li>
      <li><a href="/comments/new">Join the Discussion</a></li>
      <li><a href="/comments/index">Read Discussion Comments</a></li>
    </ul>
  </div>
</nav>







